

::-moz-selection {
  /* Code for Firefox */
  color:rgb(221, 221, 217);
  background: rgb(83, 83, 83);
}

::selection {
    color:rgb(221, 221, 217);
    background: rgb(54, 53, 53);
}




@keyframes squiggly-anim {
  0% {
      filter: url(#squiggly-0)
  }

  25% {
      filter: url(#squiggly-1)
  }

  50% {
      filter: url(#squiggly-2)
  }

  71% {
      filter: url(#squiggly-3)
  }

  to {
      filter: url(#squiggly-4)
  }
}